.intro-box {
  background: #99CCFF;
  padding: 1.5rem;       
  border-radius: 5px;
  max-width: calc(100% - 3rem);  
  box-sizing: border-box;
  margin-left: 1.5rem;   
  margin-bottom: 1.5rem;  
}

.intro-box h2,
.intro-box p {
  margin: 0;  
  padding: 0;
  color: black;  
}

ul.items {
  list-style: none;
  padding: 1.5rem;          
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;              
  margin-bottom: 3rem;     
  box-sizing: border-box;   
}

ul.items li {
  background: #99CCFF;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 250px;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  ul.items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  ul.items {
    grid-template-columns: 1fr;
  }
}

.price {
  color: black;
  font-weight: bold;
}

li p {
  padding: 0.5rem;
}

li h3 {
  margin: 0;
  color: black;
}