extends layout

block content
  div.intro-box
    h2 Welcome to DIY Tech Solutions
    p Discover computer parts to fit your needs

  if items && items.length
    ul.items
      each item in items
        li
          h3= item._partName
          p.desc= item._description
          p.price= '€' + item._price
          p.quantity= 'In Stock: ' + item._quantity
  else
    p No items available at the moment.