doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 DIY Tech Solutions
      nav
        a(class='home' href='/') Home
           
        a(href='/login') Login
           
        a(href='/register') Register
    main
      block content

